/*GILEAD Webapp styles*/
@import "normalize.css";

@import "font-face.css";
/*GILEAD Webapp styles*/
.clear {
  width: 100%;
  display: block;
  clear: both;
  content: '';
}
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.center {
  margin: 0 auto;
}
.solid_border {
  border: solid 4px black;
}
img {
  behavior: url(htc/iepngfix.htc);
}
.ease {
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out;
}
.ease_slow {
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
}
.ease_slower {
  -webkit-transition: all 1800ms ease-in-out;
  -moz-transition: all 1800ms ease-in-out;
  -o-transition: all 1800ms ease-in-out;
  transition: all 1800ms ease-in-out;
}
.ease_fast {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.g_medium {
  font-family: 'gotham_medium';
}
.g_meditalic {
  font-family: 'gotham_medium_italic';
}
.g_book {
  font-family: 'gotham_book';
}
.g_bookitalic {
  font-family: 'gotham_book_italic';
}
.g_bold {
  font-family: 'gotham_bold';
}
.g_black {
  font-family: 'gotham_black';
}
.g_bolditalic {
  font-family: 'gotham_bold_italic';
}
.g_light {
  font-family: 'gotham_light';
}
.g_lightitalic {
  font-family: 'gotham_light_italic';
}
.outlined_font {
  color: #00131c;
  -webkit-text-fill-color: #00131c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cccccc;
}
.floating_animation {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translatex(0%);
  }
  30% {
    transform: translatex(5%);
  }
  50% {
    transform: translatex(1%);
  }
  100% {
    transform: translatex(0%);
  }
}
.rotating_animation {
  animation-name: rotating;
  -webkit-animation-name: rotating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE/Edge */

  user-select: none;
  /* non-prefixed version, currently
    not supported by any browser */

}
.Hidden {
  opacity: 0;
}
.test_hide {
  display: none;
}
.overall_size {
  width: 1620px;
  height: 1920px;
}
body {
  background: black;
  font-family: 'gotham_book';
  -webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE/Edge */

  user-select: none;
  /* non-prefixed version, currently
    not supported by any browser */

  color: #cccccc;
}
body div#status {
  text-align: center;
  position: absolute;
}
body button#negative {
  position: absolute;
  top: 40px;
}
body div.current {
  position: absolute;
  top: 80px;
}
body #Container {
  width: 1620px;
  height: 1920px;
  color: #cccccc;
  position: relative;
  display: block;
  margin: 0 auto;
}
body #Container #video_container {
  position: absolute;
  -webkit-transition: all 850ms ease-in-out;
  -moz-transition: all 850ms ease-in-out;
  -o-transition: all 850ms ease-in-out;
  transition: all 850ms ease-in-out;
}
body #Container #video_container video {
  width: 1620px;
  height: 1920px;
  -webkit-transition: all 1800ms ease-in-out;
  -moz-transition: all 1800ms ease-in-out;
  -o-transition: all 1800ms ease-in-out;
  transition: all 1800ms ease-in-out;
}
body #Container #video_container video#screensaver {
  z-index: 10;
}
body #Container #video_container video.Profile {
  opacity: 0;
  z-index: 8;
  position: absolute;
}
body #Container header {
  font-family: 'gotham_bold';
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 20;
}
body #Container header .preheader {
  font-size: 40px;
  margin-bottom: 0px;
  color: #00131c;
  -webkit-text-fill-color: #00131c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cccccc;
}
body #Container header h1 {
  font-size: 56px;
  margin: 0;
}
body #Container #slides_container {
  width: 1620px;
  height: 1920px;
  position: absolute;
  background: #000;
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
}
body #Container #slides_container .slides .current {
  opacity: 1!important;
}
body #Container #slides_container .slides .item {
  opacity: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 1800ms ease-in-out;
  -moz-transition: all 1800ms ease-in-out;
  -o-transition: all 1800ms ease-in-out;
  transition: all 1800ms ease-in-out;
}
body #Container #Bio {
  width: 585px;
  height: 677px;
  position: absolute;
  top: 500px;
}
body #Container #Bio:after {
  content: url('../images/bio_vector.png');
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
}
body #Container #Patients {
  background: url(../images/patient_BG.png) no-repeat;
  width: 390;
  height: 101px;
  position: absolute;
  right: 0px;
  top: 400px;
}
body #Container #Patients:before {
  content: 'Choose another patient';
  text-transform: uppercase;
  top: -40px;
  text-align: center;
  width: 390px;
  display: inline-block;
  position: absolute;
  font-family: 'gotham_bold';
}
body #Container #Patients ul {
  margin: 0;
  padding: 0;
}
body #Container #Patients ul li {
  background: url('../images/Profile_1_BG.jpg') no-repeat;
  background-size: 810px auto;
  background-position: -338px -250px;
  width: 99px;
  height: 99px;
  list-style: none;
  float: left;
  margin-right: 35px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
body #Container #Patients ul li.Profile_1 {
  background: url('../images/Profile_1_BG.jpg') no-repeat;
  background-size: 810px auto;
  background-position: -338px -250px;
}
body #Container #Patients ul li.Profile_2 {
  background: url('../images/Profile_2_BG.jpg') no-repeat;
  background-size: 810px auto;
  background-position: -367px -230px;
}
body #Container #Patients ul li.Profile_2:before {
  content: url('../images/patient_sphere_2.png');
  animation-name: rotating;
  -webkit-animation-name: rotating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
}
body #Container #Patients ul li.Profile_3 {
  background: url('../images/Profile_3_BG.jpg') no-repeat;
  background-size: 810px auto;
  background-position: -356px -235px;
}
body #Container #Patients ul li.Profile_4 {
  background: url('../images/Profile_4_BG.jpg') no-repeat;
  background-size: 810px auto;
  background-position: -338px -250px;
}
body #Container #Patients ul li.Profile_4:before {
  content: url('../images/patient_sphere_3.png');
  animation-name: rotating;
  -webkit-animation-name: rotating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
}
body #Container #Patients ul li:before {
  content: url('../images/patient_sphere_1.png');
  animation-name: rotating;
  -webkit-animation-name: rotating;
  animation-duration: 12s;
  -webkit-animation-duration: 12s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
}
body #Container.Profile_1 {
  background: url('../images/Profile_1_BG.jpg') no-repeat;
}
body #Container.Profile_1 #video_container #Profile_1 {
  opacity: 1;
}
body #Container.Profile_1 #Bio {
  background: url('../images/Profile_1_bio.png') no-repeat;
}
body #Container.Profile_2 {
  background: url('../images/Profile_2_BG.jpg') no-repeat;
}
body #Container.Profile_2 #video_container #Profile_2 {
  opacity: 1;
}
body #Container.Profile_3 {
  background: url('../images/Profile_3_BG.jpg') no-repeat;
}
body #Container.Profile_3 #video_container #Profile_3 {
  opacity: 1;
}
body #Container.Profile_4 {
  background: url('../images/Profile_4_BG.jpg') no-repeat;
}
body #Container.Profile_4 #video_container #Profile_4 {
  opacity: 1;
}
