/*GILEAD Webapp styles*/

@import "normalize.css";
@import "font-face.css";
//@import "elements.less";

//Mixins

.b_radius (@value1){
    -webkit-border-radius: @value1 + 0px;
    -moz-border-radius: @value1 + 0px;
    border-radius: @value1 + 0px;
}

.overall-padding (@padding: 15px 50px){
    padding: @padding;
}

.clear{
    width:100%;
    display:block;
    clear: both;
    content:'';
}

.left{
    float: left;
}

.right{
    float:right;
}

.block{
    display:block;
}

.center{
    margin:0 auto;
}

.solid_border{
    border: solid 4px black;
}

img{
    behavior: url(htc/iepngfix.htc);
}

//Transitions and effects
.ease{
    -webkit-transition: all 850ms ease-in-out;
    -moz-transition: all 850ms ease-in-out;
    -o-transition: all 850ms ease-in-out;
    transition: all 850ms ease-in-out;
}

.ease_slow{
    -webkit-transition: all 1500ms ease-in-out;
    -moz-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
}

.ease_slower{
    -webkit-transition: all 1800ms ease-in-out;
    -moz-transition: all 1800ms ease-in-out;
    -o-transition: all 1800ms ease-in-out;
    transition: all 1800ms ease-in-out;
}

.ease_fast{
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

//fonts-setup
.g_medium{
    font-family: 'gotham_medium';
}

.g_meditalic{
    font-family: 'gotham_medium_italic';
}

.g_book{
    font-family: 'gotham_book';
}

.g_bookitalic{
    font-family: 'gotham_book_italic';
}

.g_bold{
    font-family: 'gotham_bold';
}

.g_black{
    font-family: 'gotham_black';
}

.g_bolditalic{
    font-family: 'gotham_bold_italic';
}

.g_light{
    font-family: 'gotham_light';
}

.g_lightitalic{
    font-family: 'gotham_light_italic';
}

.outlined_font{
    color: @w_dark_blue;
    -webkit-text-fill-color: @w_dark_blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: @w_gray;
}

//Colours
@w_dark_blue: #00131c;
@w_purple: #873299;
@w_gray: #cccccc;


//CSS3 animations
.floating_animation{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 12s;   
    -webkit-animation-duration: 12s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateX(0%);  
    }
    30% {
        transform: translateX(5%);  
    }
    50% {
        transform:translateX(1%)
    }
    100% {
        transform: translateX(0%);
    }           
}

.rotating_animation {
    animation-name: rotating;
    -webkit-animation-name: rotating;

    animation-duration: 12s;   
    -webkit-animation-duration: 12s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


//Disable text selection
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
    not supported by any browser */
}

.Hidden{
    opacity: 0; 
}

.test_hide{
    display: none;
}

.overall_size{
    width: 1620px;
    height: 1920px;
}

//Main body styles
body{
    background: black;
    .g_book;
    .noselect;
    color: @w_gray;
    
    //Status testing div
    div#status{
        text-align: center;
        position: absolute;
    }
    button#negative{
        position: absolute;
        top:40px;
    }
    div.current{
        position: absolute;
        top:80px;
    }
    
    //container
    #Container{
        .overall_size;
        color: @w_gray;
        //border: solid 1px @w_gray;
        position: relative;
        .block;
        .center;

        //Video container
        #video_container{
            position: absolute;
            
            //opacity: 0;
            .ease;
            video{
                .overall_size;
                .ease_slower;
                &#screensaver{
                    z-index: 10;
                }
                &.Profile{
                    opacity: 0;
                    z-index: 8;
                    position: absolute;
                }
            }
        }
        
        //Absolute header
        header{
            .g_bold;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 20;
            .preheader{
                font-size:40px;
                margin-bottom: 0px;
                .outlined_font;
            }
            h1{
                font-size: 56px;
                margin:0;
            }
        }
        
        //Slideshow
        #slides_container{
            .slides{
                a{
                    //display: none;
                }
                .current{
                    opacity: 1!important;
                }
                .item{
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    .ease_slower;
                }
            }
            .overall_size;
            position: absolute; 
            background: #000;
            .ease_slow;
        }
        
        //Bio container
        #Bio{
            width: 585px;
            height:677px;
            position: absolute;
            top:500px;
            &:after{
                content: url('../images/bio_vector.png');
                .floating_animation;
                position: absolute;
            }
        }
        
        #Patients{
            background: url(../images/patient_BG.png) no-repeat;
            width: 390;
            height:101px;
            position: absolute;
            right:0px;
            top:400px;
            &:before{
                content: 'Choose another patient';
                text-transform: uppercase;
                top: -40px;
                text-align: center;
                width: 390px;
                display: inline-block;
                position: absolute;
                .g_bold;
            }
            ul{
                li{
                    background: url('../images/Profile_1_BG.jpg') no-repeat;
                    background-size: 810px auto;
                    background-position: -338px -250px;
                    width: 99px;
                    height: 99px;
                    list-style: none;
                    float: left;
                    margin-right: 35px;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    &.Profile_1{
                        background: url('../images/Profile_1_BG.jpg') no-repeat;
                        background-size: 810px auto;
                        background-position: -338px -250px;
                    }
                    &.Profile_2{
                        background: url('../images/Profile_2_BG.jpg') no-repeat;
                        background-size: 810px auto;
                        background-position: -367px -230px;
                        &:before{
                            content: url('../images/patient_sphere_2.png');
                            .rotating_animation;
                            position: absolute;
                        }
                    }
                    &.Profile_3{
                        background: url('../images/Profile_3_BG.jpg') no-repeat;
                        background-size: 810px auto;
                        background-position: -356px -235px;
                    }
                    &.Profile_4{
                        background: url('../images/Profile_4_BG.jpg') no-repeat;
                        background-size: 810px auto;
                        background-position: -338px -250px;
                        &:before{
                            content: url('../images/patient_sphere_3.png');
                            .rotating_animation;
                            position: absolute;
                        }
                    }
                    
                    &:before{
                        content: url('../images/patient_sphere_1.png');
                        .rotating_animation;
                        position: absolute;
                    }
                }
                margin:0;
                padding: 0;
            }
        }
        
        
        //NOTE: Profile classes go here
        &.Profile_1{
            #video_container{
                #Profile_1{
                    opacity: 1;
                }
            }
            background: url('../images/Profile_1_BG.jpg') no-repeat;
            #Bio{
                background: url('../images/Profile_1_bio.png') no-repeat;
            }
        }
        &.Profile_2{
            #video_container{
                #Profile_2{
                    opacity: 1;
                }
            }
            background: url('../images/Profile_2_BG.jpg') no-repeat;
        }
        &.Profile_3{
            #video_container{
                #Profile_3{
                    opacity: 1;
                }
            }
            background: url('../images/Profile_3_BG.jpg') no-repeat;
        }
        &.Profile_4{
            #video_container{
                #Profile_4{
                    opacity: 1;
                }
            }
            background: url('../images/Profile_4_BG.jpg') no-repeat;
        }
    }
}


